<div class="col-lg-12">
  <div class="col-lg-6">
    <%= link_to('Suggestion Page', new_suggestion_path, class: "btn btn-primary") %>
  </div>
  <div class="col-lg-6">
    <%= link_to('Feedback Page', feedback_question_index_path , class: "btn btn-primary") %>
  </div>
</div>