body {
    padding-top: 3.5rem;
}
#page-loader {
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0;
    z-index: 5000;
    background-color: rgba(0,0,0,0.6);
    color: white;
    right: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

#page-loader h3 {
    width: 100%;
}