<!DOCTYPE html>
<html>
  <head>
    <title>IntagleoSheet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="page-loader" style="display:none;">
    <h3>
      <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </h3>
  </div>
    <%= yield %>
  </body>
</html>